<div class="favorites">
	
	<div class="header">
		<h1>FAVORITES</h1>
	</div>

	<!-- ng-repeat over favorites -->
	<div class="post-reaction" ng-repeat="favorite in favorites">
		<div class="post">
			<div class="user-header">
				<img class="img-responsive img-cube" src="./img/NSP.jpg" alt="./img/NSP.jpg">
				<div class="f-name"> 
					<p class="bold">{{favorite.author.firstName}} {{favorite.author.lastName}}</p>
					<p class="gray">{{favorite.createdAt | date : 'EEEE, MMMM d, y'}}</p>
				</div>
			</div>
			<div class="post-content">
				<blockquote>
					<div class="unblock">
					    <p>{{favorite.textContent}}</p>
					</div>
				</blockquote>
			</div>
		</div>

	</div>

</div>