<div class="following">
	<div class="header">
		<h1>FOLLOWING</h1>
	</div>
	<div class="each-search-result">	<!-- ng-repeat -->
		<img src="./img/NSP.JPG" alt="Profile Pic" class="profile-pic">
		<div class="user-info">
			<h2>Nazmuz Shakib Pranto</h2>
			<blockquote>
				<p>"Thinking good thoughts is not enough, doing good deeds is not enough, seeing others follow your good examples is enough."</p>
				<footer><cite title="Source Title">Albert Hawks</cite></footer>
			</blockquote>
		</div>
	</div>
</div>