  <!-- <video autoplay loop muted class="bg-video">
	<source src="./videos/bg-video2.mp4" type="video/mp4">
</video> -->

<div class="container home-container" ng-controller="homeCtrl">

	<div class="row wrapper">
		<div class="vertical-center">
			<img class="img-responsive img-circle center-block animated bounceIn" src="./img/deed-logo.png">
			<h1 class="text-center animated rollIn">Deed</h1>

			<p class="text-center">Do Something Good Today</p>
			
			<form class="col-md-2 col-md-offset-5">
			    <div class="form-group">
				    <label for="exampleInputEmail1">Email</label>
				    <div class="input-group">
	    				<span class="input-group-addon">@</span>
	    				<input ng-model="user.email" type="email" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" required>
  					</div>
			    </div>
			    <div class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <div class="input-group">
	    				<span class="input-group-addon">⚭</span>
	    				<input ng-model="user.password" type="password" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" required>
  					</div>
			    </div>
				<button ng-click="login(user)" class="col-md-12 btn btn-success">Login</button>
				<br>

				<!-- link to the same page in NOT working! -->
				<a href="" ng-click="scrollTo('createNewAccount')" class="col-md-12 text-center">Create New Account</a>
				
			</form>
		</div>
	</div>  

	<div id="createNewAccount" class="row sign-up animated slideInUp">
		<h1 class="text-center">Create New Account</h1>
		<div class="col-md-8 world-map">
			<img class="img-responsive" src="./img/world-map.png" alt="">
		</div>
		<div class="col-md-4 form">
			<form>
				<div class="form-group col-md-12">
					<label for="exampleInputEmail1">Email</label>
				    <div class="input-group">
	    				<span class="input-group-addon">@</span>
	    				<input ng-model="newUser.email" name="email" type="email" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" required>
  					</div>
			    </div>
			    <div class="form-group col-md-12">
			    	<label for="exampleInputEmail1">Password</label>
				    <div class="input-group">
	    				<span class="input-group-addon">⚭</span>
	    				<input ng-model="newUser.password" name="password" type="password" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" required>
  					</div>
			    </div>
			    <div class="form-group col-md-6">
			    	<label for="exampleInputEmail1">First Name</label>
				    <input ng-model="newUser.firstName" name="firstName" type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name" required>
			    </div>
			    <div class="form-group col-md-6">
			    	<label for="exampleInputEmail1">Last Name</label>
				    <input ng-model="newUser.lastName" type="text" name="lastName" class="form-control" id="exampleInputPassword1" placeholder="Last Name" required>
			    </div>
			    <div class="form-group col-md-12">
			    	<label for="exampleInputEmail1">Favorite Quote</label>
			    	<textarea ng-model="newUser.favoriteQuote" name="favoriteQuote" class="form-control" rows="3" required></textarea>
			    </div>
		
			    <!-- <div class="form-group col-md-6 col-md-offset-3">
			    	<label for="exampleInputEmail1">Date of Birth</label>
				    <input type="date" class="form-control" id="exampleInputPassword1">
			    </div>
			    <div class="form-group col-md-6 col-md-offset-3">
					<label for="exampleInputFile">Gender</label>
					<br>
					<label class="radio-inline">
					    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Male
					</label>
					<label class="radio-inline">
					    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Female
				    </label>
			  	</div> -->
			    <div class="form-group col-md-6 col-md-offset-3 text-center">
	    			<label for="exampleInputFile">Upload Photo</label>
				    
				    <input filepicker type="filepicker" data-fp-services="computer, facebook" on-success="onSuccess(event.fpfile)" required/>;

				    <div class="picture-preview col-md-12" ng-show="showPicture">
				    	<img class="img-responsive img-rounded" ng-src="{{pictureUrl}}" alt="pictureName" style="width:200px; height:200px">
				    </div>

				    <p class="help-block">Note: .jpeg | .png only</p>
			  	</div>
				<button ng-click="createNewUser(newUser)" class="col-md-8 col-md-offset-2 btn btn-primary">Create New Account</button>
				<br>
			</form>
		</div>
	</div>

</div>	