<video autoplay loop muted class="bg-video">
	<source src="./videos/bg-video10.mp4" type="video/mp4">
</video>

<div class="container-fluid">
	<div class="row">
		<div class="new-user-success col-md-12">
			<img class="img-responsive img-circle center-block" src="./img/deed-logo.png">
			<h2 class="text-center animated slideInDown">Welcome to Deed</h2>
			<blockquote>
		  		<p class="text-center">"Thinking good thoughts is not enough, <br>doing good deeds is not enough, <br>seeing others follow your good examples is enough."</p>
		  		<footer class="text-center"><cite title="Source Title">Douglas Horton </cite></footer>
			</blockquote>
			<div class="text-center profile-link">
				<a ui-sref="userProfile" class="btn btn-success btn-large">Nazmuz Shakib Pranto</a>
			</div>
		</div>
	</div>
</div>