<div class="search-users">
	<div class="each-search-result" ng-repeat="user in users">	<!-- ng-repeat over all USERS -->
		<div class="to-left">
			<img ng-src="{{user.picture}}" alt="Profile Pic" class="profile-pic">
			<div class="user-info">
			<h3>{{user.firstName}} {{user.lastName}}</h3>
				<p><strong>iDeeds</strong>: {{user.iDeeds.length}}</p>
				<p><strong>Followers</strong>: {{user.followers.length}}</p>
			</div>
		</div>
		<div class="follow-button">
			<a ng-click="follow(user._id)" class="btn btn-success rounded"><span class="glyphicon glyphicon-ok check"></span>Follow</a>
		</div>
	</div>
</div>

	