<div class="search-users">
	
	<div class="each-search-result">	<!-- ng-repeat over all USERS -->
		<div class="to-left">
			<img src="./img/NSP.JPG" alt="Profile Pic" class="profile-pic">
			<div class="user-info">
				<h3>Nazmuz Shakib Pranto</h3>
				<p><strong>iDeeds</strong>: 54</p>
				<p><strong>Followers</strong>: 20</p>
			</div>
		</div>
		<div class="follow-button">
			<a href="#" class="btn btn-success rounded"><span class="glyphicon glyphicon-ok check"></span> Follow</a>
		</div>
	</div>
</div>

	