<!-- <video autoplay loop muted class="bg-video">
	<source src="./videos/bg-video10.mp4" type="video/mp4">
</video> -->

<div class="container user-profile" ng-controller="userProfileCtrl">
	<div class="row">

	<!-- profile-sidebar -->
		<div class="profile-sidebar col-md-4 animated fadeInLeft">

			<div class="profile-info">
				<div class="profile-pic col-md-8 col-md-offset-2">
					<img class="img-responsive center-block img-rounded" src= {{profile.picture}} alt="./img/NSP.jpg"> 
				</div>
				<div class="user-name text-center">
					<h1>{{profile.firstName}}</h1>
					<h1>{{profile.lastName}}</h1>
				</div>
				<div class="posts-following col-md-12">
					<a ui-sref=".iDeeds" ng-click="iDeeds()">
						<p>iDEEDS</p>
						<h2 class="text-center">{{profile.iDeeds.length}}</h2>
					</a>
					<a ui-sref=".followers">
						<p>FOLLOWERS</p>
						<h2 class="text-center">50</h2>
					</a>
					<a ui-sref=".following">
						<p>FOLLOWING</p>
						<h2 class="text-center">50</h2>
					</a>
					<a ui-sref=".favorites" ng-click="getFavorites()">
						<p>FAVORITES</p>
						<h2 class="text-center">{{profile.favorites.length}}</h2>
					</a>
				</div>
				<div class="quote">
					<blockquote>
				  		<p class="text-center">"{{profile.favoriteQuote}}"</p>
					</blockquote>
				</div>
			</div>
			<div class="log-sett col-md-2">
				<a ng-click="logout()">Logout</a>
				<a href="">Settings</a>
			</div>
		</div>

	<!-- deed-content -->
		<div class="deed-content col-md-8 animated slideInDown">
			<nav-dir></nav-dir>

			<div class="search-box col-md-6 col-md-offset-3">
				<div class="input-group col-md-12">
                    <input ng-model="name" type="text" class="text-center search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button ui-sref=".searchUsers" ng-click="searchUsers(name)" class="btn btn-success" type="button">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </span>
                </div>
			</div>
			<br>
			<div class="col-md-8 col-md-offset-2">
				<div ui-view="searchUsers"></div>
			</div>

			<div class="user-posts col-md-12">
			<div class="textbox">
				<div class="user-header">
					<img class="img-responsive img-cube" src={{profile.picture}} alt="./img/NSP.jpg">
					<div class="f-name"> 
						<p>@{{profile.firstName.toLowerCase()}}</p>
					</div>
				</div>
				<div class="textarea">
					<textarea ng-model="deed.textContent" class="form-control" rows="4" placeholder="Write a good deed ..."></textarea>
				</div>
				<div class="post-button text-right">
					<button ng-click="postDeed(deed)" class="btn btn-block btn-primary btn-primary"><span class="glyphicon glyphicon-plus"></span> Post</button>
				</div>
			</div>

			<div class="posts">

				<div ui-view="homeFeed"></div>
				
				<div ui-view="iDeeds"></div>
				
				<div ui-view="followers"></div>

				<div ui-view="following"></div>

				<div ui-view="favorites"></div>

			</div>
		</div>

	</div>
</div>