body{
	background-color: lightgray;
	margin: 0px;
	padding: 0px;
}
body * {
	margin: 0px;
	padding: 0px;
}

/*////////////////////////////// home.html ///////////////////////////////////*/
.bg-video{
	position: fixed;
	top: 0px;
	left: 0px;
	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;
	z-index: -99;
}
.home-container{
	width: 100VW;
	height: auto;	
}
.home-container .vertical-center{
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: auto;
	height: 100VH;
}
.home-container .wrapper img{
	box-shadow: 0 0 50px black;
}
.home-container .wrapper h1{
	color: black;
	font-size: 75px;
	margin-bottom: 15px;
	text-shadow: 2px 5px 4px white;
}
.home-container .wrapper p{
	font-size: 30px;
	font-family: "Raleway";
	margin-bottom: 50px;
}
.home-container .wrapper a{
	margin-top: 10px;
}
.home-container .sign-up{
	width: auto;
	background-color: white;
	opacity: 0.9;
	box-shadow: 0 0 20px black;
	margin: 0 auto;
	padding: 50px;
}
.home-container .sign-up h1{
	font-family: "Lato";
	font-size: 50px;
	margin-bottom: 50px;
	color: gray;
}
.home-container button{
	font-family: "Raleway"
}
.home-container textarea{
	resize: none;
}
.home-container .picture-preview{
	padding-top: 10px;
	padding-bottom: 10px;
}

/*//////////////////////////// user-profile.html ////////////////////////////*/
.user-profile{
	width: 100VW;	/*Change to 100VW*/	
	height: auto;	/*Change to auto*/
	background-color: white;
	opacity: 0.9;
}
.user-profile .profile-sidebar{
	background-color: #5DCE00;
	height: 100VH;	/*Change to 100VH*/	
	/*position: fixed;	Change to fixed later*/
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	/*border-right: 20px solid gray;*/
	border-bottom-right-radius: 40%;
	box-shadow: 0 0 50px black;

}
.user-profile .profile-pic img{
	box-shadow: 0 0 10px black;
	width: auto;
	height: auto;
}
.user-profile .profile-info p{
	font-size: 17.5px;
	font-family: "Raleway";
}
.user-profile .profile-info{
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	margin-top: 50px;
}
.user-profile .user-name{
	font-family: "Lato";
	margin-top: 10px;
	color: #4d4d4d;
}
.user-profile .deed-content{
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	height: auto;
}
.user-profile .search-box input{
	background-color: lightgray;
}
.user-profile .posts-following{
	border: 1px solid black;
	border-radius: 50px;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	margin-top: 20px;
	margin-bottom: 20px;
}
.user-profile .posts-following a{
	color: black;
	text-decoration: none;
}
.user-profile .posts-following a:hover h2{
	color: gray;
}
.user-profile .posts-following a:hover p{
	color: white;
}
.user-profile .log-sett {
	border-left: 5px solid black;
	padding: 0px;
	margin: 5px 0px 0px 0px;
    font-family: "Lato";
	font-size: 20px;
}
.user-profile .log-sett a{
	text-decoration: none;
	margin-left: 10px;
	color: gray;
}
.user-profile .log-sett a:hover{
	cursor: pointer;
	color: black;
}
.user-profile .textbox{
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	margin-top: 15px;
}
.user-profile .user-header{
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
}
.user-profile .user-header img{
	width: 50px;
	height: 50px;
}
.user-profile .user-header p{
	font-family: "Raleway";
	font-size: 20px;
	margin-left: 5px;
}
.user-profile .f-name{
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.user-profile .textarea{
	margin-left: 55px;
}
.user-profile textarea{
	resize: none;
	background-color: lightgray;
	border-radius: 0px;
}
.user-profile .photos-button{
	font-family: "Raleway";
}
.user-profile .post-button{
	margin-left: 55px;
	font-family: "Raleway";
}
.user-profile .posts{
	padding: 20px 0px 20px 55px;
}
.user-profile .post-reaction{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 40px;
	box-shadow: 0 0 30px black;
}
.user-profile .reaction{
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}
.user-profile .reaction sub{
	color: black;
	font-size: 10px;
	font-family: "Lato"
}
.user-profile .reaction button{
	border-radius: 0px;
	box-shadow: 0 0 5px black;
}
.user-profile .post{
	background-color: white;
/*	box-shadow: 0 0 5px black;
*/	padding: 10px;
}
.user-profile .post .f-name p{
	font-size: 13px;
	font-family: arial;
}
.user-profile .bold{
	font-weight: bold;
}
.user-profile .gray{
	color: gray;
}
.user-profile .post-content{
	margin-left: 55px;
}
.user-profile .unblock{
	margin-left: 10px;
}

/*///////////////////////// new-user-success.html ///////////////////////////*/
.new-user-success{
	width: 100VW;
	height: 100VH;
	background: rgba(255,255,255, 0.9);
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.new-user-success img{
	width: 200px;
	height: auto;
}
.new-user-success h2{
	margin-top: 10px;
	margin-bottom: 10px;
}
.new-user-success p{
	font-size: 18px;
	font-family: "Open Sans";
}
.new-user-success .profile-link{
	margin-top: 50px;
}
/*loading animation*/
.new-user-success .profile-link h2{
	color: #3BE206;
	font-size: 50px;
}
.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/*/////////////////////////// search-users.html //////////////////////////////*/
.search-users{
	width: auto;
	height: auto;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}
.search-users .each-search-result{
	margin: 10px;
	overflow: auto;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	height: 125px;
}
.search-users .each-search-result .to-left{
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
}
.search-users .user-info{
	margin-left: 10px;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.search-users .user-info p{
	color: gray;
	font-size: 17.5px;
}
.search-users a{
	display: flex;
	flex-flow: column;
	justify-content: center;
	color: white;
	font-family: "Lato";
	font-size: 20px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.search-users .follow-button{
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.search-users .check{
	margin-bottom: 5px;
}
.search-users .profile-pic{
	height: 125px;
}

/* ///////////////////////////// ideeds.html /////////////////////////////////*/
.ideeds .header {
	border-bottom: 5px solid black;
}
.ideeds .header h1{
	font-family: "Lato";
	margin: 5px 0px 0px 0px;
	color: gray;
}

/*////////////////////////////// followers.html //////////////////////////////*/
.followers .each-search-result{
	background-color: white;
	box-shadow: 0 0 10px black;
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	height: 125px;
}
.followers a{
	display: flex;
	flex-flow: column;
	justify-content: center;
	color: white;
	font-family: "Lato";
	font-size: 20px;
}
.followers .check{
	margin-bottom: 5px;
}
.followers .profile-pic{
	height: 125px;
	margin-right: 15px;
}

.followers .header {
	border-bottom: 5px solid black;
}
.followers .header h1{
	font-family: "Lato";
	margin: 5px 0px 0px 0px;
	color: gray;
}

/*////////////////////////////// followers.html //////////////////////////////*/
.following .each-search-result{
	background-color: white;
	box-shadow: 0 0 10px black;
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	height: 125px;
}
.following a{
	display: flex;
	flex-flow: column;
	justify-content: center;
	color: white;
	font-family: "Lato";
	font-size: 20px;
}
.following .check{
	margin-bottom: 5px;
}
.following .profile-pic{
	height: 125px;
	margin-right: 15px;
}
.following .header {
	border-bottom: 5px solid black;
}
.following .header h1{
	font-family: "Lato";
	margin: 5px 0px 0px 0px;
	color: gray;
}

/*//////////////////////////// favorites.html ////////////////////////////////*/
.favorites .header {
	border-bottom: 5px solid black;
}
.favorites .header h1{
	font-family: "Lato";
	margin: 5px 0px 0px 0px;
	color: gray;
}
.favorites .post-reaction{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}
.favorites .post-reaction .delete {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	margin-right: 10px;
	margin-top: 10px;
}
.favorites .post-reaction .delete a{
	color: lightgray;
}
.favorites .post-reaction .delete a:hover{
	cursor: pointer;
	color: #D61111;
}
/*//////////////////////////// nav-tmpl.html /////////////////////////////////*/
.nav {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	/*border-bottom-right-radius: 100%;
	border-top-right-radius: 25px;*/
	background-color: black;
	margin-bottom: 10px;
}
.nav .tabs{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin: 10px;
}
.nav img{
	width: auto;
	height: 50px;
	border-radius: 50%;
}
.nav a{
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin: 5px 10px 5px 10px;
	text-decoration: none;
	color: white;
	opacity: 0.7;
	font-family: "Raleway";
}
.nav a:hover{
	color: white;
	opacity: 2.0;
}

/*//////////////////////////// settings.html //////////////////////////////*/

.settings{
	width: auto;
	height: 100VH;
	display: flex;
	flex-flow: column;
	justify-content: center;
	border: 2px solid green;
	background-color: #5DCE00;
}
.settings h1{
	font-family: "Lato";
	font-size: 50px;
	margin-bottom: 50px;
	color: gray;
}
.settings .settings-box{
	padding-top: 25px;
	padding-bottom: 25px;
	height: auto;
	width: 100VW;
	background-color: white;
}
.settings .image-input img{
	padding: 20px 0px 20px 0px;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}
.settings .form{
	display: flex;
	flex-flow: column;
}
.settings .buttons{
	display: flex;
	flex-flow: row;
	justify-content: center;
}
.settings button{
	margin: 5px;
}




























