<div class="post-reaction animated fadeInUp" >
	<div class="post col-md-12">
		<div class="user-header">
			<img class="img-responsive img-cube" ng-src="{{model.author.picture}}">
			<div class="f-name"> 
				<p class="bold">{{model.author.firstName}} {{model.author.lastName}}</p>
				<p class="gray">{{model.createdAt | date : 'EEEE, MMMM d, y'}}</p>
			</div>
		</div>
		<div class="post-content col-md-11">
			<div class="col-md-8">
				<blockquote>
					<div class="unblock">
						<p>{{model.textContent}}</p>
					</div>
				</blockquote>
			</div>
			<div class="unblock col-md-3 text-right" ng-if="hasPhotoContent(model)" ng-show="showPhotoContent">
				<img ng-src="{{model.photoContent}}" class="img-responsive img-thumbnail" style="width:300px; height:250px">
			</div>
		</div>
	</div>

	<div class="reaction">
		<div class="favorite">
			<button ng-click="makeFavorite(model._id)" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-star"><sub> {{model.stars.length}}</sub></span></button>
		</div>
		<div class="like">
			<button ng-click="likePost(model._id)" class="btn btn-block btn-primary btn-success"><span class="glyphicon glyphicon-thumbs-up"><sub> {{model.likes.length}}</sub></span></button>
		</div>
		<div class="love">
			<button ng-click="lovePost(model._id)" class="btn btn-block btn-primary btn-danger"><span class="glyphicon glyphicon-heart"><sub> {{model.loves.length}}</sub></span></button>
		</div>
		<div class="sob">
			<button ng-click="sobPost(model._id)" class="btn btn-block btn-primary btn-warning"><span class="glyphicon glyphicon-eye-open"><sub> {{model.sobs.length}}</sub></span></button>
		</div>
	</div>
	
</div>